---
import "@styles/global.css";
import SVGFilters from "@icons/_filter.svg";
import Header from "./Header.astro";
import ImagePostModal from "@components/post/ImagePostModal/ImagePostModal.svelte";
import PostHog from "./PostHog.astro";

const session = Astro.locals.user;

interface Props {
	title?: string;
	description?: string;
	robots?: string;
	shareImage?: string | URL;
}

const { title, description, robots = "index,follow", shareImage } = Astro.props;

let fullTitle = "Gugugram";
if (title) {
	fullTitle += ` • ${title}`;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url);
const shareImageURL = shareImage || new URL("/seo/1280x640.png", canonicalURL);
---

<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{fullTitle}</title>
		{description && <meta name="description" content={description} />}
		{robots && <meta name="robots" content={robots} />}
		<link rel="manifest" href="/manifest.json" />

		<meta name="theme-color" content="#c0c0c0" />
		<link rel="icon" type="image/png" sizes="16x16" href="/seo/16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/seo/32.png" />

		<link rel="apple-touch-icon" sizes="180x180" href="/seo/180.png" />

		<link rel="icon" type="image/png" sizes="192x192" href="/seo/192.png" />
		<link rel="icon" type="image/png" sizes="256x256" href="/seo/256.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/seo/512.png" />

		<link
			rel="preload"
			href="/fonts/ms-sans-serif-8pt.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<meta property="og:title" content={fullTitle} />
		{description && <meta property="og:description" content={description} />}
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:type" content="site" />
		<meta property="og:image" content={shareImageURL} />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="640" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={canonicalURL} />
		<meta name="twitter:title" content={fullTitle} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:image" content={shareImageURL} />
		<PostHog />
		<script>
			const url = new URL(window.location.href);
			if (url.searchParams.has("_action")) {
				url.searchParams.delete("_action");
				window.history.replaceState({}, "", url.pathname + url.search);
			}
		</script>
		{
			session && (
				<script is:inline define:vars={{ username: session.username, email: session.email }}>
					window.posthog?.identify(username, {email});
				</script>
			)
		}
	</head>
	<body>
		<SVGFilters />
		<div class="window">
			<div class="title-bar" role="banner"><p><strong>Gugugram</strong></p></div>
			<Header />
			<div class="window-body" role="main">
				<slot />
				<div class="mt text-center">
					<div class="field-border inline-block">
						<a href="https://www.mozilla.org/firefox" title="Download Mozilla Firefox">
							<img src="/moz_carcar3.gif" width="88" height="31" alt="Mozilla Firefox banner" />
						</a>
					</div>
				</div>
				<ImagePostModal {session} client:load />
			</div>
			<footer class="status-bar" role="contentinfo">
				<p>
					Isso é um site. Início do desenvolvimento dia 15 de abril de 2024. Alguns direitos
					reservados
				</p>
				<a href="/sobre">Sobre o gugugram</a>
			</footer>
		</div>
	</body>
</html>
