---
import { actions } from "astro:actions";
import Layout from "@layout/Main.astro";
import { getCommunity } from "@services/community";
import Button from "@ui/Button.svelte";
import Textarea from "@ui/Textarea.svelte";
import InputImage from "@ui/InputImage.svelte";
import RemoveCommunityPicture from "@components/profile/RemoveCommunityPicture/RemoveCommunityPicture.svelte";

const session = Astro.locals.user;
if (!session) return Astro.redirect("/entrar");

const { slug } = Astro.params;
if (!slug) return new Response(null, { status: 404 });

const [community, editResult, removeImageResult] = await Promise.all([
	getCommunity(slug),
	Astro.getActionResult(actions.editCommunity),
	Astro.getActionResult(actions.removeCommunityImage),
]);

if (!community) return new Response(null, { status: 404 });

if (editResult?.data?.success) {
	return Astro.redirect(`/comunidades/${community.slug}`);
}

if (removeImageResult?.data?.success) {
	return Astro.redirect(`/comunidades/${community.slug}`);
}

const DESC_MAX = 500;

const hasImage = !!community.image;

const seo = {
	title: "Criar comunidade",
	robots: "noindex,nofollow",
};
---

<Layout {...seo}>
	<div class="form p">
		{
			!!editResult?.data?.error && (
				<p class="error mb flex center gap ">
					<img src="/icons/msg_error-0.png" alt="'Ícone de erro" />
					{editResult.data.error}
				</p>
			)
		}

		{
			!!removeImageResult?.data?.error && (
				<p class="error mb flex center gap ">
					<img src="/icons/msg_error-0.png" alt="'Ícone de erro" />
					{removeImageResult.data.error}
				</p>
			)
		}

		{hasImage && <RemoveCommunityPicture {community} client:load />}

		<form class="form" action={actions.editCommunity} method="POST">
			<fieldset>
				<legend>Editar comunidade</legend>
				<label class="label">
					<span>Descrição <span class="text-muted">(opcional)</span></span>
					<Textarea
						name="description"
						value={community.description}
						rows={4}
						class="w-full"
						maxlength={DESC_MAX}
						placeholder="Descreva o tema da comunidade"
						characterCount={true}
						client:load
					/>
				</label>

				<label class="label mt">
					<span>Imagem <span class="text-muted">(opcional)</span></span>
					<InputImage name="image" width={60} height={60} client:load />
				</label>

				<div class="flex justify-end mt">
					<Button type="submit">Atualizar comunidade</Button>
				</div>
			</fieldset>
		</form>
	</div>
</Layout>
