---
import Layout from "@layout/Main.astro";
import CommunityHeader from "@components/community/CommunityHeader/CommunityHeader.astro";
import CommunityPostList from "@components/community/CommunityPostList/CommunityPostList.astro";
import { getCommunity, getCommunityPosts, getSubscriber } from "@services/community";

const { slug } = Astro.params;
if (!slug) return new Response(null, { status: 404 });

const community = await getCommunity(slug);
if (!community) return new Response(null, { status: 404 });

const PAGE_SIZE = 20;
const pageParam = Astro.url.searchParams.get("page");
const page = Math.max(1, parseInt(pageParam ?? "1", 10) || 1);

const posts = await getCommunityPosts(community.id, page);
const hasNextPage = posts.length === PAGE_SIZE;

const session = Astro.locals.user;

let isSubscribed = false;
let isOwner = false;

if (session) {
	isOwner = community.ownerId === session.id;

	isSubscribed = await getSubscriber(community.id, session.id);
}

const seo = {
	title: community.title,
	description: community.description ?? `Comunidade ${community.title} no Gugugram.`,
};
---

<Layout {...seo}>
	<CommunityHeader {community} {isSubscribed} {isOwner} />

	<div class="mt flex gap center">
		<h2>Posts</h2>
		<a href={`/comunidades/${slug}/novo-post`} class="button">Novo post</a>
	</div>
	<CommunityPostList {posts} communitySlug={slug} {page} {hasNextPage} />
</Layout>
