---
import type { CommunityType } from "@customTypes/community";
import SubscribeButton from "@components/community/SubscribeButton/SubscribeButton.svelte";

interface Props {
	community: CommunityType;
	isSubscribed: boolean;
	isOwner: boolean;
}

const { community, isSubscribed, isOwner } = Astro.props;

const createdAt = community.createdAt.toLocaleDateString("pt-BR", {
	day: "2-digit",
	month: "2-digit",
	year: "numeric",
});
---

<header class="community-header flex gap">
	<div>
		<a href={`/comunidades/${community.slug}`}>
			{
				community.image ? (
					<img
						src={community.image}
						alt={`Imagem da comunidade ${community.title}`}
						class="community-image image-border"
						width="120"
						height="120"
					/>
				) : (
					<img
						src="/icons/entire_network_globe-4.png"
						alt=""
						aria-hidden="true"
						class="image-border"
						width="120"
						height="120"
					/>
				)
			}
		</a>
	</div>
	<div>
		<div class="flex center gap">
			<h1><a href={`/comunidades/${community.slug}`}>{community.title}</a></h1>
		</div>
		{community.description && <p class="mb">{community.description}</p>}
		<table>
			<tr>
				<td>Dono</td>
				<td><a href={`/${community.ownerUsername}`}>{community.ownerUsername}</a></td>
			</tr>
			<tr>
				<td>Data de criação</td>
				<td>{createdAt}</td>
			</tr>
			<tr>
				<td>Tipo</td>
				<td>Pública</td>
			</tr>
		</table>
	</div>
</header>
<div class="flex gap center mt">
	<SubscribeButton communityId={community.id} {isSubscribed} client:load />
	{isOwner && <a href={`/comunidades/${community.slug}/editar`}>Editar comunidade</a>}
	<a href={`/comunidades/${community.slug}/membros`}>Membros</a>
</div>

<style>
	.community-image {
		object-fit: cover;
		flex-shrink: 0;
	}
</style>
